@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
/* font-family: 'Pangolin', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:wght@100;300&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
/* font-family: 'Tajawal', sans-serif; */
body {
  padding-top: 50px;
  background-color: #fffffff5;
}
/* start navbar */
.navbar-dark .navbar-brand {
  font-size: 25px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease-in-out;
}
.navbar-dark .navbar-brand:hover {
  color: rgb(33, 33, 124);
}

.navbar-dark .navbar-brand span {
  color: rgb(33, 33, 124);
  transition: all 0.2s ease-in-out;
}
.navbar-dark .navbar-brand:hover span {
  color: rgb(33, 33, 124);
}


/* start content */
.page-title{
  margin-top: 10px;
  color: whitesmoke;
  font-weight: normal;
  
}
.page-sub-title{
  color:rgba(255, 255, 255, 0.671);
  
}
.dis .container {
  margin-top: 45px;
}

.dis .container .row .left h2 {
  color: black;
  margin-bottom: 19px;
}

.dis .container .row .left p {
  color: gray;
}

.dis .container .row .right .top {
  margin-bottom: 20px;
}

.dis .container .row .right .top .carousel-indicators li {
  border-radius: 50%;
  width: 5px;
  height: 9px;
}

.dis .container .row .right .bottom {
  text-align: center;
}

.dis .container .row .right .bottom h2 {
  color: #008fe2;
  font-size: 42px;
}

.dis .container .row .right .bottom p {
  color: #b1aeae;
}


.container .first p a {
  color: black;
  font-weight: bold;
}

.container .first p a svg {
  color: white;
  background: #008fe2;
}

.aboutcontent{
  background-color: rgb(236, 233, 233);
  height:230px;
 
  text-align: center;
  margin-top: 20px;
}

/* End content */
/* start footer */

footer {
  color: #fff;
}
.footer-copyright {
  color: rgb(180, 180, 180);
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #ff6565;
}

footer h5 span {
  color: #ff6565;
}
footer .container .row {
  margin-top: 0px;
}
footer .container .row div ul {
  font-size: 1rem;
  line-height: 2rem;
  list-style: none;
}
